<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://plugin.powerschool.pearson.com"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation='http://plugin.powerschool.pearson.com plugin.xsd'
        name="LPS Test Color"
        version="1.0"
        description="Give the test server a ugly color heading">
    <publisher name="Logan Arias">
    <contact email="Logan.Arias@lawrence.k12.ma.us"/>
    </publisher>
</plugin>
